@model WebAppSite.Models.AnimalCreateViewModel

@{
    ViewData["Title"] = "Редагувати анімала";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDay" class="control-label"></label>
                <input type="datetime" asp-for="BirthDay" class="form-control" />
                <span asp-validation-for="BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input type="number" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="text" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                @*<input asp-for="Image" class="form-control" />*@

                <div class="input-group mb-3">
                    <input asp-for="Image" type="file" class="form-control">
                    <label class="input-group-text" for="Image">Upload</label>
                </div>

                @*<div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                    <label class="custom-file-label"
                           for="inputGroupFile02"
                           aria-describedby="inputGroupFileAddon02">Оберіть зображення</label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                </div>
            </div>*@
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти зміни" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Styles{
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(function () {
            //Отримуємо поточну дату
            var dateObj = new Date();
            var month = @DateTime.Now.Month; //отримали місяць
            var day = @DateTime.Now.Day; //отримали день
            var year =@(DateTime.Now.Year - 1); //від поточного року відняли 1
            //ініціалізуємо календар для інпута txtDateBirth по id
            $('#BirthDay').datepicker({
                format: "dd.mm.yyyy",      //формат дати
                language: 'uk',             //локалізація
                startDate: "01.01.1990",    //початкова дата
                endDate: `${day}.${month}.${year}` //вказуємо кінцеву дату для дейтпікера
            });
        });
    </script>

    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
