@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Привіт, Марс!</h1>
    <p>Прочитай більше на <a href="https://3x4.com.ua">нормальному сайті</a>.</p>
</div>
