@model WebAppSite.Areas.Admin.Models.CreateUserModel

@using WebAppSite.Domain.Entities.Identity

@{
    ViewData["Title"] = "Додати нового користувача";
}

<div class="row">
    <div class="offset-md-3 col-md-6">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label" asp-area="admin"></label>
                <input asp-for="Email" class="form-control" asp-area="admin"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label" asp-area="admin"></label>
                <input asp-for="Password" class="form-control" asp-area="admin"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label" asp-area="admin"></label>
                <div class="input-group mb-3">
                    <input asp-for="Image" type="file" class="form-control"
                            onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])">
                    <label class="input-group-text" for="Image">Upload</label>
                </div>

                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>